<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign-In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.811232555888-bq4jb9t1t6l747i74534l6vodbbl8omv</string>
			</array>
		</dict>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Grab needs your location to track your runs and claim territory on the map.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Grab needs your location to track your runs in the background and claim territory.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
